@use '../base/variables' as *;

.header {
  background-color: $primary-color;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: $font-size-xlarge;

  .logo {
    font-weight: bold;
    font-size: 1.5rem;
  }

  nav {
    margin-top: 10px;

    a {
      color: white;
      font-size: $font-size-base;
      margin: 0 15px;
    }
  }
}
