// src/styles/layouts/_header.scss

@use '../base/variables' as *;

@mixin header {  // Removed the period here
  background-color: $primary-color;  // Use Sass variable syntax with $
  padding: 20px;
  color: white;
  text-align: center;
  font-size: $font-size-xlarge;  // Use Sass variable syntax with $

  .logo {
    font-weight: bold;
    font-size: 1.5rem;
  }

  nav {
    margin-top: 10px;

    a {
      color: white;
      font-size: $font-size-base;  // Use Sass variable syntax with $
      margin: 0 15px;
    }
  }
}
